// app global css in SCSS form


th, td {
    font-size: 22px;
}


a, button {
    cursor: pointer !important;
    text-decoration: none;
    font-size: 18px;
}

a:visited {

    color: rgb(255, 255, 255);
}

.flex {
    display: flex;
}